<app-credential-form (submitForm)="onSubmit($event)" title="Login" buttonCaption="Login" [error]="error">
  <ng-container form-footer>
    <app-link routerLink="/register" label="I have not created an account yet."></app-link>
  </ng-container>
</app-credential-form>