<mat-toolbar color="primary">
  <div class="header-wrapper">
    <div>
      <button *ngIf="user" routerLink="/" mat-button>Users</button>
      <button *ngIf="user" routerLink="/addresses" mat-button>Addresses</button>
    </div>
    <div>
      <button routerLink="/login" *ngIf="!user" mat-button>Login</button>
      <span *ngIf="user">
        <button mat-button [matMenuTriggerFor]="headerMenu">
          {{ user.email }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #headerMenu="matMenu">
          <button routerLink="/profile" mat-menu-item>Profile</button>
          <button (click)="onClickLogout()" mat-menu-item>Logout</button>
        </mat-menu>
      </span>
    </div>
  </div>
</mat-toolbar>