h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

form {
  width: 400px;
  margin: auto;
  margin-top: 30px;

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  button {
    width: 100%;
  }
}