<h1 class="mat-h1 mat-headline">Modify profile</h1>
<form [formGroup]="userForm">
  <mat-form-field>
    <input matInput type="text" placeholder="E-mail" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="City" formControlName="city" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Street address" formControlName="streetAddress" />
  </mat-form-field>
  <button type="submit" mat-flat-button color="primary" [disabled]="userForm.pending || userForm.invalid"
    (click)="onSubmitProfile()">Modify</button>
</form>
<h1 class="mat-h1 mat-headline">Change password</h1>
<form [formGroup]="passwordForm">
  <mat-form-field>
    <input matInput placeholder="Current password" [type]="hide ? 'password' : 'text'"
      formControlName="currentPassword">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="New password" [type]="hide ? 'password' : 'text'" formControlName="newPassword">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button type="submit" mat-flat-button color="primary" [disabled]="passwordForm.pending || passwordForm.invalid"
    (click)="onSubmitPassword()">Change password</button>
</form>