<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>{{ data.content }}</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="data.firstButtonCaption" mat-button color="primary"
    mat-dialog-close>{{ data.firstButtonCaption }}</button>
  <button *ngIf="data.secondButtonCaption" mat-button color="primary"
    [mat-dialog-close]="true">{{ data.secondButtonCaption }}</button>
</mat-dialog-actions>