<table mat-table [dataSource]="addresses$ | async">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let address">{{ address.id }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let address">{{ address.city }}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let address">{{ address.streetAddress }}</td>
  </ng-container>

  <ng-container *ngIf="showActions" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td class="actions" mat-cell *matCellDef="let address">
      <button mat-button color="accent" (click)="onClickModify(address)">Modify</button>
      <button mat-button color="accent" (click)="onClickDelete(address)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
</table>
<button *ngIf="showActions" class="add-button" mat-fab color="primary" (click)="onClickAdd()">
  <mat-icon>playlist_add</mat-icon>
</button>