<h2 mat-dialog-title>{{ data.isNewUser ? 'Add user' : 'Edit user' }}</h2>
<mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field>
      <input matInput type="text" placeholder="E-mail" formControlName="email" />
    </mat-form-field>
    <mat-form-field *ngIf="data.isNewUser">
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="City" formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Street address" formControlName="streetAddress" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-flat-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-flat-button (click)="onSubmit()">{{ data.isNewUser ? 'Add' : 'Modify' }}</button>
</mat-dialog-actions>