<h2 mat-dialog-title>{{ data.isNewAddress ? 'Add address' : 'Edit address'</h2>
<mat-dialog-content>
  <form [formGroup]="addressForm">
    <mat-form-field>
      <input matInput type="text" placeholder="City" formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Street address" formControlName="streetAddress" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-flat-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-flat-button (click)="onSubmit()">{{ data.isNewAddress ? 'Add' : 'Modify' }}</button>
  </mat-dialog-actions>