<app-credential-form (submitForm)="onSubmit($event)" title="Register" buttonCaption="Register" [error]="error">
  <ng-container form-footer>
    <app-link routerLink="/" label="I already have an account."></app-link>
  </ng-container>
</app-credential-form>