:host {
  display: block;
  margin-top: 40px;
}

mat-card {
  padding: 10px 30px;
  width: 400px;
  margin: auto;

  mat-card-content {
    mat-form-field {
      display: block;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  
  mat-card-actions {
    text-align: center;
    margin: 30px 0;
  
    button {
      width: 100%;
    }
  }
  
  mat-card-footer {
    margin: 0;
  }
}