<mat-card role="form">
  <mat-card-header>
    <mat-icon mat-card-avatar>lock</mat-icon>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-error *ngIf="error">{{ error }}</mat-error>
    <form [formGroup]="formGroup">
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" [disabled]="formGroup.pending || formGroup.invalid"
      (click)="onSubmit()">{{ buttonCaption }}</button>
  </mat-card-actions>
  <mat-card-footer>
    <ng-content select="[form-footer]"></ng-content>
  </mat-card-footer>
</mat-card>