<mat-card *ngIf="user">
  <mat-card-header>
    <mat-icon mat-card-avatar>account_box</mat-icon>
    <mat-card-title>{{ user.email }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="user.address">
      <h2 class="mat-h3 mat-subheading-2">City</h2>
      <p class="mat-body mat-body-1">{{ user.address.city }}</p>
      <h2 class="mat-h3 .mat-subheading-2">Address</h2>
      <p class="mat-body mat-body-1">{{ user.address.streetAddress }}</p>
    </ng-container>
    <h2 class="mat-h3 mat-subheading-2">Roles</h2>
    <p *ngFor="let role of user.roles" class="mat-body mat-body-1">{{ role.type }}</p>
  </mat-card-content>
</mat-card>