table {
  width: 100%;

  .id-cell {
    user-select: none;
    cursor: pointer;
  }

  .actions {
    button {
      margin-left: 10px;
    }
  }
}

.add-button {
  display: block;
  margin: auto;
  margin-top: 30px;
}