<table mat-table [dataSource]="users$ | async">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td class="id-cell" mat-cell *matCellDef="let user" (click)="showDetails(user.id)">{{ user.id }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>E-mail</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let user">{{ user.address ? user.address.city : '' }}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let user">{{ user.address ? user.address.streetAddress : '' }}</td>
  </ng-container>

  <ng-container *ngIf="showActions" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td class="actions" mat-cell *matCellDef="let user">
      <button mat-button color="accent" (click)="onClickModify(user)" [disabled]="isSelf(user)">Modify</button>
      <button mat-button color="accent" (click)="onClickDelete(user)" [disabled]="isSelf(user)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
</table>
<button *ngIf="showActions" class="add-button" mat-fab color="primary" (click)="onClickAdd()">
  <mat-icon>person_add</mat-icon>
</button>